// Courses
.courses {
  background-color: $white;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

    .box {
      &.hide {
        display: none;
      }

      &:hover .image img {
        transform: scale(1.1);
      }
    }

    .image {
      position: relative;
      overflow: hidden;
      height: 25rem;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      span {
        @include titleText(1.5rem);
        display: inline-block;
        position: absolute;
        background-color: $white;
        padding: .5rem 1.5rem;
        top: 1rem;
        left: 1rem;
        font-weight: bold;
      }
    }

    .content {
      border: $border;
      padding: 2rem;
      text-align: center;

      h3 {
        @include titleText(2rem);
      }

      p {
        @include graphText(1.6rem);
        margin: 1rem 0;
      }

      .info {
        padding-top: 2rem;
        margin-top: 2rem;
        border-top: $border;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          color: $main;
          font-size: 1.5rem;
          margin-right: 0.5rem;
        }

        span {
          @include graphText(1.5rem);
        }

      }
    }
  }

  .load-more {
    text-align: center;
    margin-top: 2rem;
  }
}